body {
    font-family: Bookman Old Style, serif;
    display: flex;
    justify-content: center;
    background-color: #fff9c4;
}

hr {
    display: black;
    width: 100%;
}

.container {
    width: 35%;
    font-weight: bold;
}
.item, .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    border: 1px solid #141313;
    font-size: 18px;
}
img {
    width: 40px;
    height: 40px;
}